@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HATA</title>
</head>
<body>
    <hgroup>
        <h1>ay</h1>
        <h2>x</h2>
    </hgroup>
</body>
</html>
